
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Tick</span>
    <span class="right">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button [routerLink]="['/enviar']" mat-menu-item >
        <mat-icon>create</mat-icon>
        <span>Nuevo ticket</span>
      </button>
      <button [routerLink]="['/mensajes']"  mat-menu-item>
        <mat-icon>message</mat-icon>
        <span>Mis tickets</span>
      </button>
      <button [routerLink]="['/contactos']"  mat-menu-item>
        <mat-icon>people</mat-icon>
        <span>Contactos</span>
      </button>
      <button [routerLink]="['/']"  mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Ajustes</span>
      </button>
    </mat-menu></span>
  </mat-toolbar-row>


</mat-toolbar>
